WebTech/Set D xml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Address">
    <xs:complexType>

      <xs:attribute name="state" type="xs:string" use="required"/>
      <xs:attribute name="city" type="xs:string" use="required"/>
      <xs:attribute name="municipality" type="xs:string" use="required"/>
      <xs:attribute name="homeNumber" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
